@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
}

/* ============ Defauld style ==========  */
section {
  max-width: 1320px;
  margin: 120px auto;
}

h1 {
  font-size: 72px;
  font-weight: 900;
}

h2 {
  font-size: 64px;
  font-weight: 900;
}

h3 {
  font-size: 48px;
  font-weight: 700;
}

h5 {
  font-size: 32px;
  font-weight: 400;
}

p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  margin: 20px 0;
}

.primary_color {
  color: rgb(212, 161, 30);
}

/* ========= Hreo area style ===========  */
.hero_area {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  padding: 175px 345px;
  margin: 50px 0;
  max-width: 1320px;
  margin: 50px auto;
}

.hero_area_text {
  text-align: center;
  color: white;
}

.hero_area_text h5 {
  margin-bottom: 20px;
}

/* ============ Discount area style =============== */
.discount_area_text {
  text-align: center;
  margin-bottom: 50px;
}

.discount_area_text h1 {
  color: rgb(212, 161, 30);
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 50px;
}

.discount_area_text p {
  color: rgb(212, 161, 30);
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.discoun_img {
  text-align: center;
}

/* ============= Midnight party area style ===================== */
.party_container {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/night-party.png");
  padding: 65px 125px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.party_text h2 {
  color: white;
}

.party_text p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  margin: 25px 0px 50px 0px;
}

.party_text button {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  background-color: rgb(212, 161, 30);
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
}

.party_text button:hover {
  background: rgb(98, 158, 20);
}

/* ====================== party time style ============== */
.party_time {
  width: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(255, 187, 0, 0.248) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  text-align: center;
  padding: 100px 0;
  border-radius: 16px;
}

.party_time p {
  color: #070211;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
}

.party_time span {
  color: rgb(212, 161, 30);
}

.party_time button {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  background: rgb(212, 161, 30);
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  margin-top: 50px;
  transition: all 0.5s;
  cursor: pointer;
}

.party_time button:hover {
  background: rgb(98, 158, 20);
}

/* coming soon area  */
.commingsoon_container {
  display: flex;
  align-items: center;
  gap: 70px;
}

.coming_text {
  width: 33.33%;
}

.coming_img {
  width: 33.33%;
  display: flex;
  justify-content: center;
}

.coming_img img {
  width: 100%;
  border: 15px solid rgb(212, 161, 30);
  border-radius: 100%;
  padding: 40px;
}
.color_p {
  color: rgb(212, 161, 30);
  font-size: 24px;
  margin-bottom: 20px;
}

.another_text {
  padding-left: 35px;
}

.another_text h3 {
  color: rgb(212, 161, 30);
  padding-top: 100px;
  margin-bottom: -10px;
}

.another_text img {
  margin-top: 30px;
}

/* ============== holiday sale ============= */
.sale_title {
  text-align: center;
  padding: 0 125px;
}

.sale_title .sale_p {
  color: #070211;
  font-size: 24px;
}
.shoping_gril {
  display: flex;
  justify-content: end;
  margin-top: 50px;
}
.shoping_gril .shoping_card {
  position: relative;
  top: 4px;
  z-index: -1;
}
.discunt_sale {
  position: absolute;
  top: 15%;
  left: -35%;
}
.gift_card {
  position: relative;
  height: 229px;
  border-radius: 16px 0px 16px 16px;
  background: rgb(212, 161, 30);
}
.gift_box {
  position: absolute;
  bottom: 0px;
}


/* portfolio area style  */
.portfolio_title{
    padding-right: 425px;
    margin-bottom: 50px;
}
.portfolio_container{
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    margin: 25px 0;
}
.portfolio_container img{
    transition: all 0.5s;
}
.portfolio_container img:hover{
    transform: scale(1.1);
}

/* subscription area style  */
.subscription_area{
    width: 100%;
    background-image: linear-gradient(
      180deg,
      rgba(255, 187, 0, 0.248) 0%,
      rgba(255, 0, 0, 0) 100%
    );
    text-align: center;
    padding: 100px 200px;
    border-radius: 16px;
}
.subscription_area img {
    margin-bottom: 40px;
}
.subscription_area input {
    border: 2px solid rgb(212, 161, 30);
    border-radius: 15px 0px 0px 15px;
    padding: 20px 30px;
    background-color: white;
    margin-top: 50px;
    width: 50%;
}
.subscription_area button{
    color: #FFF;
    padding: 20px 20px;
    margin-left: -5px;
    border: 2px solid rgb(212, 161, 30);
    border-radius: 0px 15px 15px 0px;
    background-color:rgb(212, 161, 30) ;
    cursor: pointer;
    transition: 0.5s;
}
.subscription_area button:hover{
    background-color: rgb(98, 158, 20);
}

 /* footer area style  */
 footer{
    background-color: #070211;
    padding: 120px 140px;
 }
 footer p{
    color: #FFF;
font-size: 24px;
 }

 .footet_text{
    display: flex;
    justify-content: space-between;
 }
 .footer_right{
    padding-right: 135px;
 }
 .footer_right p{
    display: flex;
    align-items: center;
 }
 .footer_right img{
    margin-right: 15px;
 }
 hr{
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    border: none;
    margin: 50px 0;
 }
 .footer_icons{
    display: flex;
    justify-content: center;
    gap: 25px;
 }